#setuptools==59.5.0
openmm
#pdbfixer
#pytorch-lightning
biopython
#numpy
#pandas
#PyYAML
#requests
scipy
tqdm
#typing-extensions==4.0
#wandb
modelcif
awscli
ml-collections
aria2
#mkl
#git
hmmer
#hhsuite
#kalign2
#mmseqs2
#pytorch::pytorch=1.12.*
dm-tree
deepspeed
git+https://github.com/NVIDIA/dllogger.git
git+https://github.com/Dao-AILab/flash-attention.git@5b838a8